.btn {
  @include font-rule(SourceSansPro, 900);
  font-size: 14px;
  letter-spacing: 1.2px;
  padding: 20px 35px;
  background-color: #ff7c0c;
  border: none;
  text-transform: uppercase;
  border-radius: 3px;
  @include autoprefixer(transition, .3s ease-in-out);

  &-bl {
    color: #000000;
  }

  &-wh {
    color: #ffffff;
  }

  span {
    margin-right: 10px;
    display: block;
  }

  @media(max-width: 1300px) {
    padding: 15px 15px;
  }

  &:hover {
    background-color: lighten(#ff7c0c, 10%);
    @include autoprefixer(transition, .3s ease-in-out);
  }
}

.btn-outline {
  @include font-rule(SourceSansPro, 900);
  font-size: 14px;
  letter-spacing: 1.2px;
  padding: 15px 30px;
  border: 2px solid #ff7c0c;
  border-radius: 3px;
  background-color: transparent;
  @include autoprefixer(transition, .3s ease-in-out);

  &:hover {
    background-color: #ff7c0c;
  }
}

// Header mobile burger button
// ================================
.burger {
  background-color: transparent;
  cursor: pointer;
  display: none;
  order: 0;
  position: relative;
  z-index: 10;

  &__wrapper {
    width: 60px;
    height: 40px;
    @include flex-rule(around, center);
    flex-direction: column;
    padding: 5px 0;
    z-index: 5;
  }

  &__line {
    width: 40px;
    height: 3px;
    background-color: #ffffff;
  }

  @media(max-width: 768px) {
    display: block;
  }
}

// Scroll to top button
// ================================
.scroll-top {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: fixed;
  bottom: -100%;
  right: 40px;
  z-index: 100;
  background-color: #ff7c0c;
  @include autoprefixer(transform, rotate(-135deg));
  @include autoprefixer(transition, all .3s ease-in-out);

  &--active {
    bottom: 10%;

    @media(max-width: 375px) {
      bottom: 5%;
    }
  }

  &:hover {
    background-color: #000000;
    @include autoprefixer(transition, all .3s ease-in-out);
  }

  @media(max-width: 375px) {
    right: 20px;
  }

  &__line {
    position: absolute;
    top: 45%;
    left: 45%;
    z-index: 101;
    width: 10px;
    height: 10px;
    border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    background-color: transparent;
    display: block;
    @include autoprefixer(transform, translate(-50%, -50%));
  }
}

