.card-sm {
  @include flex-rule(between, center);
  width: 100%;
  max-width: 700px;

  @media(max-width: 1366px) {
    max-width: 580px;
  }

  @media (max-width: 768px) {
    max-width: 100%;
    margin-bottom: 30px;

  @media(max-width: 425px) {
    @include flex-rule(0, 0);
    flex-direction: column;
  }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__info {
    @include flex-rule(0, 0);
    flex-direction: column;
  }

  &__img {
    display: inline-block;
    margin-right: 75px;

    @media(max-width: 1366px) {
      margin-right: 20px;
    }

    @media(max-width: 425px) {
      margin-right: 0;
      margin-bottom: 30px;
    }
  }

  &__date {
    @include font-rule(SourceSansPro, 400);
    display: inline-block;
    color: #ff7c0c;
    font-size: 14px;
    margin-bottom: 5px;
  }

  &__title {
    @include font-rule(SourceSansPro, 700);
    @include text-shorten(2);
    color: #000000;
    font-size: 30px;
    margin-bottom: 15px;
    line-height: 1.1;

    @media(max-width: 425px) {
      font-size: 18px;
    }
  }

  &__description {
    @include font-rule(SourceSansPro, 400);
    @include text-shorten(2);
    color: #767676;
    font-size: 16px;
  }
}