.container {
  width: 100%;
  max-width: 1740px;
  margin: 0 auto;

  @media(max-width: 1366px) {
    max-width: 1140px;
  }

  @media(max-width: 768px) {
    max-width: 690px;
  }

  @media(max-width: 425px) {
    max-width: 390px;
  }

  @media(max-width: 375px) {
    display: 290px;
  }
}


.logo-img {
  @media(max-width: 425px) {
    display: block;
    margin: 0 auto;
  }

  @media(max-width: 375px) {
    height: 100%;
    width: 100%;
    display: block;
    margin: auto;
  }
}
