.container {
  width: 100%;
  max-width: 1740px;
  margin: 0 auto;

  @media(max-width: 1366px) {
    max-width: 1140px;
  }

  @media(max-width: 768px) {
    max-width: 690px;
  }

  @media(max-width: 425px) {
    max-width: 390px;
  }

  @media(max-width: 375px) {
    max-width: 340px;
  }
}

.container-sm {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;

  @media(max-width: 375px) {
    max-width: 340px;
  }
}

.container-md {
  width: 100%;
  max-width: 1570px;
  margin: 0 auto;

  @media(max-width: 1366px) {
    max-width: 1140px;
  }
}

.section-title {
  @include font-rule(SourceSansPro, 900);
  color: #000000;
  font-size: 60px;
  letter-spacing: 1.2px;
}

.logo-img {
  @media(max-width: 425px) {
    display: block;
    margin: 0 auto;
  }

  @media(max-width: 375px) {
    height: 100%;
    width: 100%;
    display: block;
    margin: auto;
  }
}
