.header {
  width: 100%;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  border-bottom: 1px solid #858789;
  @include autoprefixer(transition, .3s ease-in-out);

  @media (max-width: 768px) {
    background-color: #000000;
  }

  &__logo {
    
    @media(max-width: 1366px){
      margin-right: 20px;
    }
    @media (max-width: 768px) {
      order: 1;
    }
    @media (max-width: 375px) {
      width: 140px;
    }
  }

  &__inner {
    height: 100%;
    @include flex-rule(between, center);
    flex-wrap: wrap;
    flex-direction: row;

    @media(max-width: 1366px) {
      padding-top: 25px;
    }

    @media (max-width: 768px) {
      padding: 30px 0;
    }
  }

  &__nav {
    transition: display .3s linear;

    @media(max-width: 1366px) {
      order: 3;
      flex: 1 0 100%;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__menu {
    @include flex-rule(0, center);
  }

  &__menu-item {
    height: 100%;
    cursor: pointer;
    margin-right: 40px;
    padding: 40px 0;
    position: relative;
    overflow: hidden;


    @media(max-width: 1366px) {
      padding-top: 25px;
      padding-bottom: 25px;
    }

    &:hover::after{
      @include autoprefixer(transition, .3s ease-in-out);
      right: 0;
    }

    &::after {
      content: '';
      width: 100%;
      height: 2px;
      background-color: #ff7c0c;
      position: absolute;
      bottom: 0;
      right: 100%;
      z-index: 10;
      @include autoprefixer(transition, .3s ease-in-out);
    }

    &:last-child {
      margin: 0;
    }
  }

  &__menu-link {
    color: #ffffff;
    @include font-rule(SourceSansPro, 900);
    font-size: 14px;
    text-transform: uppercase;
    margin-right: 10px;
  }

  &__submenu {
    width: 100%;
    background-color: #000000;
    padding: 20px 0;
    position: absolute;
    top: 100%;
    margin-top: 1px;
    left: 0;
    z-index: 10;
    display: none;
  }

  &__submenu-items {
    @include flex-rule(0, 0);
    flex-direction: column;
    margin-right: 30px;
  }

  &__submenu-link {
    display: block;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__input {
    @include flex-rule(0, center);
    cursor: pointer;

    &-img {
      margin-right: 20px;

      @media (max-width: 768px) {
        margin-right: 0;
      }
    }

    &-search {
      @include font-rule(SourceSansPro, 400);
      background-color: transparent;
      padding: 10px;
      color: #ffffff;
      font-size: 14px;
      letter-spacing: 1.2px;
      display: block;
      width: 250px;
    
      &::placeholder {
        @include font-rule(SourceSansPro, 400);
        font-size: 14px;
        color: #b0a39c;
        letter-spacing: 1.2px;
      }

      @media (max-width: 768px) {
        display: none;
        margin-right: 0;
      }
    }

    @media (max-width: 1366px) {
      // margin-right: 170px;
    }

    @media (max-width: 768px) {
      margin-right: 0;
    }
  }

  &__info {
    @include flex-rule(between, center);
    transition: display .3s linear;

    &-phones {
      margin-right: 26px;
      padding: 0;
    }

    &-phone {
      @include font-rule(SourceSansPro, 400);
      color: #ffffff;
      letter-spacing: 1.2px;
      font-size: 24px;
      margin-top: 0;
      margin-bottom: 10px;

      &:last-child {
        margin: 0;
      }

      @media(max-width: 1366px) {
        font-size: 22px;
      }

      @media (max-width: 768px) {
        display: none;
      }
    }

    @media(max-width: 1366px){
      flex-grow: 2;
    }

    @media (max-width: 768px) {
      order: 2;
      flex-grow: 0;
    }
  }

  &__right {
    @include flex-rule(0, center)
  }

  &__btn-cart {
    display: none; 
    background-color: transparent;

    @media (max-width: 768px) {
      display: block;
    }
  }

  &__btn {
    @include flex-rule(0, center);

    @media (max-width: 768px) {
      display: none;
    }
  }

  // =======================================
  // ============== Mobile ================= 
  // =======================================
  &__mobile {
    width: 100%;
    max-width: 380px;
    height: 100vh;
    position: absolute;
    top: 100%;
    left: -100%;
    margin-top: 1px;
    background-color: #000000;
    overflow: hidden;
    @include autoprefixer(transition, .3s ease-in-out);

    @media (max-width: 375px) {
      max-width: 100%;
    }

    &-menu {
      @include flex-rule(0, 0);
      flex-direction: column;
    }

    &-menu-item {
      @include flex-rule(between, center);
      border-bottom: 1px solid #858789;
      position: relative;

      &:hover::after {
        @include autoprefixer(transition, .3s ease-in-out);
        right: 0;
      }

      &::after {
        content: '';
        width: 100%;
        height: 2px;
        background-color: #ff7c0c;
        position: absolute;
        top: 100%;
        right: 100%;
        z-index: 10;
        @include autoprefixer(transition, .3s ease-in-out);
      }
    }

    &-menu-link {
      width: 100%;
      color: #ffffff;
      @include font-rule(SourceSansPro, 700);
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 1.2px;
      padding: 15px 38px;
    }

    &-link-img {
      position: absolute;
      right: 38px;
      transform: rotate(-90deg);
    }

    &-info-phones {
      @include flex-rule(0, 0);
      flex-direction: column;
      padding: 20px 40px;
    }

    &-info-phone {
      @include font-rule(SourceSansPro, 400);
      font-size: 24px;
      letter-spacing: 1.2px;
      margin: 0;
      margin-bottom: 10px;
    }
  }

  &__mobile--active {
    left: 0;
  }
}

.header--fixed {
  position: fixed;
  background-color: #000000;
  @include autoprefixer(transition, .3s ease-in-out)

}


