.home {
  &__inner {
    position: absolute;
    top: 50%;
    width: 100%;
    max-width: 450px;
    @include autoprefixer(transform, translateY(-50%));

    @media (max-width: 1366px) {
      top: 65%;
    }

    @media (max-width: 768px) {
      top: 55%;
    }

    @media(max-width: 375px) {
      max-width: 246px;
    }
  }

  &__suptitle {
    @include font-rule(SourceSansPro, 400);
    font-size: 14px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    background-color: #ff7c0c;
    border-radius: 3px;
    display: inline-block;
    padding: 8px 15px;
    margin-bottom: 50px;

    @media(max-width: 375px) {
      margin-bottom: 25px;
    }
  }

  &__title {
    @include font-rule(SourceSansPro, 900);
    font-size: 60px;
    letter-spacing: 1.2px;
    margin-bottom: 30px;

    @media(max-width: 375px) {
      font-size: 48px;
      margin-bottom: 20px;
    }
  }

  &__subtitle {
    @include font-rule(SourceSansPro, 900);
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 1.2px;
    margin: 0;
    margin-bottom: 80px;

    @media(max-width: 375px) {
      font-size: 18px;
      margin-bottom: 45px;
      letter-spacing: 0.6px;
    }


  }
}

.carousel-item {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}